.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.red-box {
  height: 100px;
  width: 100px;
  background-color: green;
  border: 5px solid black;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body {
  background: linear-gradient(135deg, #1a1a1a, #2e2e2e);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 6s infinite linear;
}

.cube::before,
.cube::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #ff6ec4, #7873f5);
  transform: translateZ(50px);
}

.cube::after {
  transform: rotateY(90deg) translateZ(50px);
}

.cube span {
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #42e695, #3bb2b8);
}

@keyframes spin {
  from {
    transform: rotateX(0) rotateY(0);
  }

  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}