.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.red-box {
  height: 100px;
  width: 100px;
  background-color: green;
  border: 5px solid black;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
